<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문의글 목록</title>
<link rel="stylesheet" href="/css/client/inquiry/inquiryList.css"/>
<link rel="stylesheet" href="/css/client/fragments/sidebar.css"/>
<link rel="stylesheet" href="/css/client/fragments/header.css"/>
<link rel="stylesheet" href="/css/client/fragments/common.css"/>
</head>
<body>
<div class="header" th:replace="~{client/fragments/header}"></div><br>
<div class="sidebar" th:insert="client/fragments/sidebar :: sidebar"></div>
<script src="/js/client/fragments/sidebar.js"></script>
<div class="main">
    <div class="head">
        문의 사항
    </div>
    <div class="list">
        <div class="inquiry" th:each="inquiry: ${inquiryList}">
            <div class="inquiryTitle">
                <span class="type" th:text="${inquiry.inquiryType}"></span>
                <span class="title"><a th:text="${inquiry.inquiryTitle}" th:href="@{|${inquiry.inquiryNo}|}"></a></span>
                <svg id="view" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path class="fa-secondary" opacity=".4"
                          d="M95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 400a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                    <path class="fa-primary"
                          d="M224 256c35.3 0 64-28.7 64-64c0-7.1-1.2-13.9-3.3-20.3c-1.8-5.5 1.6-11.9 7.4-11.7c40.8 1.7 77.5 29.6 88.6 71.1c13.7 51.2-16.7 103.9-67.9 117.6s-103.9-16.7-117.6-67.9c-1.9-6.9-2.9-13.9-3.2-20.7c-.3-5.8 6.1-9.2 11.7-7.4c6.4 2.1 13.2 3.3 20.3 3.3z"/>
                </svg>
                <span class="views" th:text="${inquiry.inquiryViews}"></span>
            </div>
            <div class="inquiryInfo">
                <span class="writer" th:text="${inquiry.inquiryWriter}"></span>
                <span class="date" th:text="${#temporals.format(inquiry.inquiryRegistered, 'yy.MM.dd')}"></span>
            </div>
        </div>
    </div>
    <div>
        <button class="btn-write"><a th:href="@{/inquiry/add}">글쓰기</a></button>
    </div>
    <div class="clearFixed"></div>
    <br>
    <div class="page">
        <span th:if="${startPage > 1}">
            <a th:href="@{/inquiry/list(page=${prevPageGroupStart - 1})}" class="arrow">&laquo;</a>
        </span>
        <span class="pageNo" th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage} and ${param.searchType} == null and ${param.searchKeyword == null}"
               th:href="@{/inquiry/list(page=${page - 1})}" th:text="${page}"></a>
            <a th:if="${page != nowPage} and ${param.searchType} != null" th:href="@{/inquiry/list(page=${page - 1},
            searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color: #FFB74D;">></strong>
        </span>
        <span th:if="${endPage < totalPage}">
            <a th:href="@{/inquiry/list(page=${nextPageGroupStart - 1})}" class="arrow">&raquo;</a>
        </span>
    </div>
    <div class="search-container">
        <form th:action="@{/inquiry/list}" method="get" class="search-form">
            <div class="search-type">
                <select id="searchType" name="searchType">
                    <option value="inquiryType">문의 유형</option>
                    <option value="noticeTitle">제목</option>
                    <option value="noticeContent">내용</option>
                </select>
            </div>
            <div class="search-input">
                <input type="text" id="searchKeyword" name="searchKeyword" placeholder="검색어를 입력해 주세요.">
            </div>
            <div class="search-submit">
                <input type="submit" value="검색">
            </div>
        </form>
    </div>
</div>
</body>
</html>