<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
<link rel="stylesheet" href="/css/admin/fragments/header.css"/>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <a th:href="@{/QKdclswk/manage}" class="logo">
            <img src="/image/bbangpang.png" alt="Logo" width="50px">
        </a>
        <nav>
            <ul>
                <li><a th:href="@{/QKdclswk/manage}">관리자 페이지</a></li>
                <li><a th:href="@{/Qkdclswk/post/list}">게시글 목록</a></li>
                <li><a th:href="@{/Qkdclswk/comment/list}">댓글 목록</a></li>
                <li><a th:href="@{/Qkdclswk/notice/list}">공지 사항</a></li>
                <li><a th:href="@{/Qkdclswk/inquiry/list}">문의 사항</a></li>
                <li><a th:href="@{/Qkdclswk/report/list}">신고 목록</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>
