<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <a th:href="@{/home}" class="logo">
            <img src="/image/bbangpang.png" alt="Logo" width="50px">
        </a>
        <nav>
            <ul>
                <li><a th:href="@{/home}">인기 게시글</a></li>
                <li><a th:href="@{/post/list}">전체 게시글</a></li>
                <li><a th:href="@{/notice/list}">공지 사항</a></li>
                <li><a th:href="@{/inquiry/list}">문의 사항</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>
