<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
<link rel="stylesheet" href="/css/client/check/checkPassword.css"/>
<script src="/js/client/check/checkPostEdit.js"></script>
<link rel="stylesheet" href="/css/client/fragments/sidebar.css"/>
<link rel="stylesheet" href="/css/client/fragments/header.css"/>
<link rel="stylesheet" href="/css/client/fragments/common.css"/>
</head>
<body>
<div class="header" th:replace="~{client/fragments/header}"></div>
<br>
<div class="sidebar" th:insert="client/fragments/sidebar :: sidebar"></div>
<script src="/js/client/fragments/sidebar.js"></script>
<div class="main">
    <div class="check">
        <form id="checkForm" method="get">
            <input type="hidden" id="postNo" name="postNo" value="">
            <div id="error-message" style="color: red;" th:text="${errorMessage}"></div>
            <input type="password" id="postPassword" name="postPassword" placeholder="비밀번호를 입력하세요.">
            <input type="submit" class="btn-delete" value="수정">
        </form>
    </div>
</div>
</body>
</html>